<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmcompany.goldengradenapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenGradenApp">
        <activity android:name=".Screens.ActivitysContain.FruitDetails"></activity>
        <activity android:name=".Screens.ActivitysContain.MeatsActivity" />
        <activity android:name=".Screens.ActivitysContain.Fruitactivity" />
        <activity android:name=".Screens.ActivitysContain.VegetableDetails" />
        <activity android:name=".Screens.ActivitysContain.AddtocardActivity" />
        <activity
            android:name=".Screens.ActivitysContain.VegetableActivity"
            android:label="@string/title_activity_vegetable"
            android:theme="@style/Theme.GoldenGradenApp.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>